:root {
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  /*display: flex;*/
  /*flex: 1 1 auto;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
}

.dark-shadow-down {
  box-shadow: 0 12px 16px 10px rgba(133, 133, 133, 0.07);
}

.dark-shadow-up {
  box-shadow: 0 -12px 16px 10px rgba(133, 133, 133, 0.07);
}

.logo {
  height: 50px;
  will-change: filter;
  cursor: pointer;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgb(145, 145, 215));
}

html {
  background-color: antiquewhite;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  height: 572px;
  padding: 0;
  margin: 0;
}

body, #root {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  height: 572px;
  width: 544px;
  max-width: 544px;
  padding: 4px;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}