:root {
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-shadow-down {
  box-shadow: 0 12px 16px 10px rgba(133, 133, 133, 0.07);
}

.dark-shadow-up {
  box-shadow: 0 -12px 16px 10px rgba(133, 133, 133, 0.07);
}

.logo {
  height: 50px;
  will-change: filter;
  cursor: pointer;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgb(145, 145, 215));
}

html {
  background-color: rgb(18, 18, 18);
  padding: 0;
  margin: 0;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-height: 600px;
  width: 544px;
  overflow: hidden;
  padding: 10px 0 0;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

* {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(152, 152, 152, 0.7);
    border-radius: 3px;
  }
}