button.clicker-button {
  background-color: rgba(102, 51, 153, 0.3);
  z-index: 3;
}

.btn {
  height: min-content;
}

.recycler-furnace-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 16px;
  max-height: min-content;
}

.clicker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.inp-clicker-settings {
  width: 50px;
  text-align: end;
}

.clicker-settings-row {
  display: flex;
  gap: 8px;
  justify-content: end;
}

.clicker-settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: end;
  padding: 5px;
}

.farm-header {
  justify-content: space-between;
}

.auto-walk-wrapper {
  position: absolute !important;
  right: calc(var(--px) * 860) !important;
  bottom: calc(var(--px) * 20) !important;
  z-index: 3 !important;
  max-width: min-content;
  display: flex !important;
  gap: 8px;
  flex-direction: column;
  align-items: end !important;
  justify-content: center !important;
  padding: 5px;
}

.auto-walk-wrapper:hover, .clicker-wrapper:hover, .recycler-furnace-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-auto-walk-settings, .btn-auto-walk, .btn-clicker-settings, .btn-recycler, .btn-recycler-coal {
  max-width: 100%;
  height: calc(var(--px) * 22);
  padding: calc(var(--px) * 4) !important;
  display: flex !important;
  flex: 1 1 max-content;
  flex-wrap: nowrap;
  align-items: center !important;
  justify-content: center !important;
  font-size: calc(var(--px) * 14) !important;
  white-space: nowrap;
}

.btn-recycler {
  max-width: min-content;
}

.btn-recycler-coal > span {
  flex-wrap: wrap;
  white-space: break-spaces;
  max-width: min-content;
}

.btn-clicker-settings, .btn-recycler {
  height: calc(var(--px) * 30);
  max-height: calc(var(--px) * 30);
  padding: calc(var(--px) * 8) !important;
}

.btn-clicker-settings > span, .btn-recycler-coal > span {
  font-size: calc(var(--px) * 12) !important;
}

.auto-walk-controls {
  display: flex;
  gap: 8px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.btn-auto-walk {
  padding: calc(var(--px) * 6) !important;
  height: calc(var(--px) * 38) !important;
  background-color: rgba(102, 51, 153, 0.3) !important;
}

.btn-auto-walk > span {
  font-size: calc(var(--px) * 16) !important;
}

.btn-auto-walk * {
  white-space: nowrap;
}

.notiflist:not(.errorsend) {
  z-index: 3;
}

.notiflist-item {
  max-width: calc(var(--px) * 500) !important;
  max-height: min-content !important;
  height: 100% !important;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.3);
}