button.clicker-button {
    background-color: rgba(102, 51, 153, 0.3);
}

.farm-header {
    justify-content: space-between;
}

.btn-auto-walk {
    position: absolute !important;
    left: calc(var(--px)*140) !important;
    bottom: calc(var(--px)*10) !important;
    z-index: 99999 !important;
    width: auto;
    height: calc(var(--px)*36);
    padding: calc(var(--px)*7) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: calc(var(--px)*20) !important;
    background-color: rgba(102, 51, 153, 0.3) !important;
}