#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card, .card > div.MuiFormGroup-root {
  padding: 2em;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  height: min-content;
}

#delay, #limit {
  width: 60px;
}

.bid-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bid-column  input {
  width: 60px;
}

.error-message {
  color: #FF4500;
}

.hidden {
  display: none !important;
}